tr.selected {
    background-color: #a6a6a6;
}

th, td, .center-text
{
    text-align: center;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

.multiselect.dropdown-toggle {
    text-align: left !important
}

#example-reset-button {
    cursor: pointer;
}

.loading-icon {
    color: darkred;
}