<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Surviving Maps</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <object th:include="fragments/fragments :: header" th:remove="tag"></object>
</head>

<body>


<nav th:include="fragments/fragments :: navigation"></nav>

<div style="padding-top: 100px"/>
<div class="container">
    <h1>Welcome...</h1>
    <p>This project was started to provide the community with a tool to find Landing Sites for missions on Surviving Mars by: <a href="https://github.com/trickster-is-weak/Surviving-Maps">trickster-is-weak/Surviving-Maps</a>.</p>
    <p>This is a fork of the original project that I am changing/updating on an ad-hoc basis.</p>
    <p>If there are any bugs, please let me know on <a href="https://github.com/CasuallyCorporate/Surviving-Maps-CC/discussions">the GitHub discussions page</a>.</p>
    <p>Change notes and contributions are updated on the <a th:href="@{about}">Changelog</a> page.</p>
</div>

<footer th:include="fragments/fragments :: footer"></footer>

</body>
</html>